@import "../../responsive.scss";

.homepage-wrapper {
  display: flex;
  justify-content: space-around;
  height: 100%;

  .left {
    flex: 3;

    .stats {
      display: flex;
      justify-content: space-between;

      @include sm {
        display: none;
      }
    }

    .wrapper {
      .title {
        font-size: 50px;

        @include md {
          font-size: 40px;
        }

        @include sm {
          font-size: 35px;
        }
      }
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-sizing: border-box;
      padding-right: 80px;
      gap: 35px;

      @include md {
        padding-right: 30px;
      }

      @include sm {
        padding-right: 0;
      }
    }
  }

  .right {
    flex: 2;
    background-color: var(--second-bg-color);
    position: relative;

    @include md {
      display: none;
    }

    img {
      position: absolute;

      right: 0;
      width: 115%;
    }
  }
}
