@import "../../responsive.scss";

.image-slider {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 5%;
  overflow: hidden;

  .focus-image {
    flex: 7;
    img {
      width: 100%;
      height: 100%;
      border-radius: 3%;
    }
  }

  .images {
    flex: 3;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 5%;

    .small-img {
      flex: 1;
      cursor: pointer;
      &.active {
        img {
          border: 2px solid #3498db;
        }
      }
      img {
        width: 100%;
        height: 100%;
        border-radius: 3%;
      }
    }
  }
}
