.general-features {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: var(--bg-color);
  width: 100%;
  gap: 15px;
  border-radius: 15px;

  .item {
    display: flex;
    gap: 10px;
    align-items: center;
    .img-wrap {
      background-color: rgba(254, 205, 81, 0.209);
      padding: 3px;
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 24px;
        height: 24px;
      }
    }

    .text-wrap {
      h6,
      span {
        font-size: 14px;
      }
    }
  }
}
