.place-card {
  display: flex;
  gap: 20px;

  .place-img {
    flex: 2;
    height: 200px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }

  .infos {
    flex: 3;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;

    .title {
      font-size: 20px;
      font-weight: 600;
      color: #444;
    }

    .address {
      color: #888;
      img {
        width: 16px;
        height: 16px;
      }
    }

    .price {
      font-size: 20px;
      font-weight: 300;
      padding: 5px;
      border-radius: 5px;
      background-color: rgba(254, 205, 81, 0.438);
      width: max-content;
    }

    .info-wrap {
      display: flex;
      justify-content: space-between;

      .left {
        display: flex;
        gap: 5px;
        .left-item {
          display: flex;
          gap: 10px;
          background-color: whitesmoke;
          padding: 5px;
          border-radius: 5px;
          img {
            width: 16px;
            height: 16px;
          }
          font-size: 14px;
        }
      }

      .right {
        display: flex;
        gap: 10px;

        button {
          border: 1px solid gray;
          padding: 2px 5px;
          background-color: transparent;
          cursor: pointer;
          border-radius: 4px;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 16px;
            height: 16px;
          }
        }
      }
    }
  }
}
