.size-features {
  display: flex;
  gap: 20px;

  .size-item {
    background-color: #fff;
    padding: 10px 15px;
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 8px;
    font-size: 14px;

    img {
      width: 24px;
      height: 24px;
    }
  }
}
