@import "../../responsive.scss";

.place-detail {
  display: flex;
  height: 100%;

  .left {
    flex: 3;
    height: 100%;

    .wrapper {
      padding-right: 50px;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 35px;
      overflow-y: auto;

      @include md {
        padding-right: 0;
      }

      .infos {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .info-wrap {
          display: flex;
          gap: 15px;

          .left-part {
            flex: 4;
            display: flex;
            gap: 20px;
            flex-direction: column;
          }

          .right-part {
            display: flex;
            flex: 2;
            flex-direction: column;
            gap: 10px;

            button {
              display: flex;
              gap: 10px;
              align-items: center;
              justify-content: center;
              padding: 10px;
              border-radius: 10px;
              border: 1px solid #fece51;
              background-color: transparent;
              cursor: pointer;
              transition: all 0.3s ease;

              &:hover {
                transform: scale(1.05);
              }

              img {
                width: 15px;
                height: 15px;
              }
            }
          }
        }

        figure.user {
          display: flex;
          gap: 5px;
          align-items: center;
          background-color: rgba(254, 205, 81, 0.209);
          padding: 8px 15px;
          border-radius: 10px;
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }

          figcaption {
            font-weight: bold;
          }
        }

        .price {
          padding: 5px;
          background-color: rgba(254, 205, 81, 0.438);
          border-radius: 5px;
          width: max-content;
          font-size: 20px;
        }

        .address {
          color: #888;
          font-size: 14px;
          display: flex;
          gap: 5px;
          align-items: center;
          img {
            width: 16px;
            height: 16px;
          }
        }
      }

      .image-container {
        width: 100%;
        height: 350px;
      }
    }
  }

  .right {
    flex: 2;
    background-color: #fcf5f3;
    height: 100%;
    overflow-y: auto;

    @include md {
      display: none;
    }

    .place-infos {
      display: flex;
      gap: 20px;
      flex-direction: column;
      padding: 0 20px;
      height: 100%;

      .info-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;

        .title {
          font-weight: bold;
          font-size: 18px;
        }

        .map-wrap {
          width: 100%;
          height: 250px;
          border-radius: 15px;
        }
      }
    }
  }
}
